Source: pt-icon-theme
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: https://pi-top.com/

Package: pt-icon-theme
Architecture: armhf
Depends: papirus-icon-theme, rpd-icons
Description: pi-top Icon Theme
 pi-top's icon theme is largely based on Papirus, a SVG-based icon theme, drawing inspiration from Material Design
 and flat design.
